.myQuote{
    padding: 15px;
  }
  
  .container-fluid{
    padding: 8px; 
    text-align: center;
    background-color: rgb(31, 23, 104);
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
  }
  
  .h1{color:white;}
  .line
  {
    height: 6px;
  } 
  .body{
    background-image: url("https://media.istockphoto.com/vectors/vector-image-of-quotes-white-vector-icon-on-dark-blue-background-vector-id919826582?k=6&m=919826582&s=170667a&w=0&h=EwZ5ZyaqEYwT_fREew9PuSLlzD4i0gbJtWL7JdHzJ_A=") 
  }
  