.myQuote{
    padding: 15px;
  }
  
  .container-fluid{
    padding: 8px; 
    text-align: center;
    background-color: rgb(31, 23, 104);
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
  }
  
  .h1{color:white;}
  .line
  {
    height: 6px;
  } 
  